html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#mainmenu {
    list-style: none;
}

#mainmenu > li {
    display: inline-block;
}


#nicklist,
#activity {
    height: 300px;
    float: left;
}
#activity {
    width: 450px;
}
#nicklist {
    width: 200px;
    background-color: #eee;
}

#message {
    clear: both;
}
#message input[type=text] {
    width: 350px;
}