${this.extends('layouts.main')}
${this.addScript('/app/chat/index.js')}

${this.beginBlock('content')}

<div id="chat">
    <div id="activity"></div>
    <div id="nicklist"></div>
    <div id="message">
        <input type="text" placeholder="Enter a message..."/>
        <button>Send</button>
    </div>
</div>
${this.endBlock()}